# Data Banjir BNPB

In [2]:
!ls

add		    customer.py		    letters	 regression.py
banjir-bnpb.ipynb   data_banjir.xlsx	    ls.txt	 sub
bencana_bnpb.ipynb  dataquest_coin-toss.py  man.txt	 test_file.txt
coin		    die			    mul		 test.lp
coin.py		    div			    numbers	 test.pcap
correlation.py	    intuitive		    __pycache__  trace_file

In [7]:
# muat data banjir
import pandas as pd

banjir = pd.read_excel("data_banjir.xlsx", index_col=0)
banjir.head()

,Tanggal Kejadian,Kejadian,Kabupaten,Provinsi,Meninggal,Hilang,Terluka,Rumah Rusak,Rumah Terendam,Fasum Rusak
No.,,,,,,,,,,
1,2025-12-02,BANJIR,Kota Padang Panjang,Sumatera Barat,32,44,0,31,0,0
3,2025-12-01,BANJIR,Dompu,Nusa Tenggara Barat,0,0,0,0,0,0
4,2025-11-30,BANJIR,Bima,Nusa Tenggara Barat,0,0,0,0,117,0
7,2025-11-30,BANJIR,Bogor,Jawa Barat,0,0,0,0,0,0
8,2025-11-29,BANJIR,Polewali Mandar,Sulawesi Barat,0,0,0,0,980,6

## Penyusunan Pertanyaan 
1. Berapa jumlah total korban jiwa (meninggal, terluka, dan hilang) dari banjir?
2. Provinsi mana yang memiliki peluang banjir paling tinggi?

### Total Korban Jiwa Akibat Banjir

In [18]:
# Total korban jiwa = hilang + meninggal + terluka
banjir["Korban"] = banjir["Meninggal"] + banjir["Hilang"] + banjir["Terluka"]
# banjir.head() # test
# total korban banjir
korban_banjir = banjir["Korban"].sum()
print("Korban Banjir =", korban_banjir)

Korban Banjir = 3964

### Jumlah Kejadian Banjir Berdasarkan Provinsi

In [44]:
# Hitung kejadian banjir berdasarkan provinsi
kejadian = pd.DataFrame(banjir["Provinsi"].value_counts())
jumlah = kejadian["count"].sum()
kejadian["Peluang (%)"] = kejadian["count"]/jumlah*100
kejadian

                     count  Peluang (%)
Provinsi
Aceh                    19    26.027397
Sumatera Utara          16    21.917808
Sumatera Barat          15    20.547945
Nusa Tenggara Barat      6     8.219178
Jawa Tengah              4     5.479452
Jawa Barat               3     4.109589
Jawa Timur               3     4.109589
Sulawesi Barat           2     2.739726
Sulawesi Selatan         1     1.369863
Maluku Utara             1     1.369863
Sulawesi Tenggara        1     1.369863
Sulawesi Tengah          1     1.369863
Banten                   1     1.369863

In [49]:
provinsi = kejadian["count"].idxmax()
print("Provinsi paling rentan banjir =", provinsi)

Provinsi paling rentan banjir = Aceh